*{
    margin: 0;
    padding: 0;
}
.menu ul li{
    /*! margin-top: 10px; */
    margin-bottom: 10px;
    border-left: 2px solid white;
    min-width: 150px;
    background-color: #ff9ff3;
}
.menu ul{
    display: flex;
    list-style: none;
    /*! flex-direction: row-reverse; */
    /*! flex-wrap: wrap; */
    justify-content: space-around;
    flex-flow: row-reverse wrap;
}
.menu ul li a{
    color: black;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}
